.CustomCalendar{
    margin: .5% .5% .5% .5%;
    width: 100%;
    color: black;
    background-color: #F3F3F3;
}

.customModal{
    color: white;
}

.customModal .modal-content{
    background-color: #2D3748;
}


.calendarDiv h1{
    font-size: 40px;
    margin-top: 0px;
    padding-top: 5px;
    margin-left: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.highlightAdmin {
    background-color:rgb(247, 100, 100);
    color: black;

}


.highlightAdmin:enabled:hover, .highlightAdmin:enabled:focus{
    background-color:rgb(247, 100, 100);
    color: black;
}

.highlightMember {
    background-color:rgb(138, 182, 145) ;
    color: black;

}

.highlightMember:enabled:hover, .highlightMember:enabled:focus{
    background-color:rgb(138, 182, 145);
    color: black;
}

.eventContainer .list-group .list-group-item{
    background-color: #2F3136 !important;
    color: white !important;
}


.eventList{
    margin-top: 2,5vh;
    font-size: larger;
}

.eventListItem{
    margin-top: 1vh;
    margin-left: 1vh;
}

.legend{
    margin-left: 3rem;
    margin-top: .3rem;
    margin-right: .6rem;
    color:rgb(247, 100, 100);
    
}

.legend2{
    margin-left: 3rem;
    margin-top: .3rem;
    margin-right: .6rem;
    color:rgb(138, 182, 145);
    
}

.legendDiv{
    display: flex;
}