.memberlistNames{
  margin-top: 1.5rem;
  margin-left: .5rem;
  margin-bottom: 1rem;
  font-size: 18px;
}

.membernamescontainer {
    overflow: auto;
    flex: auto;
    height: 100%;
    width: 100%;
}

.memberlistContainer{
  color: white;
}

.memberNames{
  margin: .4rem;
  display: flex;
  justify-content: space-between;
}

.memberlistContainer .modal-content{
  background-color: #2D3748;
  height: 50vh;
}

.membernameRow{
    height: 5%;
}

.addAdmin{
    width: 35%;
}

.memberlistTag h3{
  font-size: 30px;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.scrollbar {
    overflow: scroll;
  }
  
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
  }
  
  /* custom colors  */
  .scrollbar-primary::-webkit-scrollbar {
    background-color: #F5F5F5;
  }
  .scrollbar-primary {
    scrollbar-color: #4285f4 #f5f5f5;
  }
  .scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #4285F4;
  }

  .mdb{
    justify-content: flex-start !important;
    padding: 0 0 0 0 !important;
  }

  .memberlist-scrlbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    height: 100%;
    width: 100%;
  }