
.smallcardContainer{
    position: relative;
    width: 100%;
    overflow: hidden;
    
    box-shadow: 5px 5px 15px -5px #225504;
    /* margin: 19px; */
    transition: 0.4s;
    animation: ease-in;
    font-family: "Lato";
    background-color: #171923;
    border-radius: 50%;
    margin-bottom: 15px;
}

.smallcardContainer:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 15px 0px #158b06;
    cursor: pointer;
    background-color: #171923;

}


.smallimage__img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}


/* .smallimageContainer img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
} */


/* .cardBtn button{
    padding: 0.5rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}

.cardBtn button:hover{
    background: rgba(27, 156, 252, 0.1);
}

.linkedContainer{
    color: white;
}

.linkedContainer :hover{
    color: white;
    text-decoration: none !important;
} */





/* 
.smallimage {
    width: 100%;
    height: 100%;
} */



.smallimage__overlay--blur {
    backdrop-filter: blur(5px);
}



.smallimage__overlay:hover {
    opacity: .8;
}

.smallimage__overlay:hover > * {
    transform: translateY(0);
}

.smallimage__title {
    font-size: 2em;
    font-weight: bold;
} */

.smallimage__description {
    font-size: 1.7em;
    margin-top: 15px;
    opacity: 1;
    padding-right: 120px;
}

.smallimage__overlay--primary {
    background: #1a202c;
}

.smallimage__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.smallimage__overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0px;
    width: 250px;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    word-wrap: break-word;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}