.CustomCalendar{
    margin: .5% .5% .5% .5%;
    width: 100%;
    color: black;
    background-color: #F3F3F3;
}

.customModal{
    color: white;
}

.customModal .modal-content{
    background-color: #2D3748;
}


.calendarDiv h1{
    font-size: 40px;
    margin-top: 25px;
    padding-top: 5px;
    margin-left: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.highlightAdmin {
    background-color:rgb(247, 100, 100);
    color: black;

}


.highlightAdmin:enabled:hover, .highlightAdmin:enabled:focus{
    background-color:rgb(247, 100, 100);
    color: black;
}

.highlightMember {
    background-color:rgb(138, 182, 145) ;
    color: black;

}

.highlightMember:enabled:hover, .highlightMember:enabled:focus{
    background-color:rgb(138, 182, 145);
    color: black;
}

.eventContainer .list-group .list-group-item{
    background-color: #2F3136 !important;
    color: white !important;
}

 .eventContainer{
     max-height: 20vh;
     overflow-y: scroll;
 }

 .eventContainerModal{
    max-height: 20vh;
}