.form {
    display: flex;
    width: 100vh;
    height: 10vh;
    margin-bottom: 2%;
  }

  .form a{
    color: white;
  }
  
  .input {
    border: none;
    border-radius: 30px;
    padding: 5%;
    width: 85%;
    font-size: 1.2em;
    color: white;
    background-color: #42454b;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }

  .sendButton1{
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    /* border-radius: 30px; */
  }