.messages {
    padding-bottom: 2%;
    padding-top: 1%;
    overflow: auto;
    flex: auto;
    background-color: #36393e;
  }

  .chatscrollbar {
    overflow: scroll;
  }
  
  .chatscrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .chatscrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
  }
  
  /* custom colors  */
  .chatscrollbar-primary::-webkit-scrollbar {
    background-color: #F5F5F5;
  }
  .chatscrollbar-primary {
    scrollbar-color: #4285f4 #f5f5f5;
  }
  .chatscrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #4285F4;
  }

  .chatmdb{
    justify-content: flex-start !important;
    padding: 1% 0 0 0 !important;
  }