@media all and (min-width: 480px) {
    .addServer {
      padding: 25px 0;
    }
  
    .addServer form {
      margin: 0 auto;
      max-width: 400px;
      padding: 20px;
      border : 2px solid #5658dd;
      border-radius: 7px;
      background-color: #2d3748;
    }
  }

  .createServer_btn{
      margin-top: 15px;
      margin-bottom: 15px;
  }

  .alert{
    margin-top: 15px;
    text-align: center;
  }

  ::-webkit-input-placeholder {
    text-align: left;
  }

  .addServer h1{
    font-size: 35px;
  }

  .backButtonIconAddServer{
    transform: scale(2.5,1.2);
  }

  .backButtonAddServer{
      min-width: 4rem;
      margin-top: .5rem;
      margin-left: .5rem;
  }