.cardContainer{
    width: 250px;
    height: 250px;
    overflow: hidden;
    box-shadow: 5px 5px 15px -5px #225504;
    margin: 25px;
    transition: 0.4s;
    animation: ease-in;
    border-radius: 50%;
    font-family: "Lato";
    background-color: #171923;
}

.cardContainer:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 15px 0px #158b06;
    cursor: pointer;
    background-color: #171923;

}

.imageContainer img{
    width: 300px;
    overflow: hidden;
    height: 180px;
    object-fit:cover
}

.cardContents{
    margin: 1rem auto;
    text-align: center;
    margin-top: 0.5rem;
    word-wrap: break-word;
    width: 75%;
    
    
}

h3,p{
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.cardTitle{
    justify-content: center;
}

.cardBtn{
    display: flex;
    justify-content: center;
}

.cardBtn button{
    padding: 0.5rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}

.cardBtn button:hover{
    background: rgba(27, 156, 252, 0.1);
}

a{
    text-transform: uppercase;
    color: #189CFC;
    text-decoration: none;
    font-weight: bold;
}
.linkedContainer{
    color: white;
}

.linkedContainer :hover{
    color: white;
    text-decoration: none !important;
}
