
.cardContainer{
    width: 150px;
    height: 150px;
    overflow: hidden;
    box-shadow: 5px 5px 15px -5px #225504;
    margin: 25px;
    transition: 0.4s;
    animation: ease-in;
    font-family: "Lato";
    background-color: #171923;
    border-radius: 50%;
}

.cardContainer:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 15px 0px #158b06;
    cursor: pointer;
    background-color: #171923;

}

/* .imageContainer img{
    width: 300px;
    overflow: hidden;
    height: 180px;
    object-fit:cover
} */

.imageContainer{
    width: 150px;
    overflow: hidden;
    height: 100px;
    object-fit:cover;
}

.cardContents{
    margin: 1rem auto;
    text-align: center;
    margin-top: 0.5rem;
    word-wrap: break-word;
    width: 75%;
}

.cardTitle p{
    margin: 0 0 0 0;
    padding: 0;
    font-size: 15px;
}

.cardTitle h3{
    margin: 0 0 0 0;
    padding: 0;
    font-size: 17px;
}

.cardTitle{
    justify-content: center !important;
}

.cardBtn{
    display: flex;
    justify-content: center;
}

.cardBtn button{
    padding: 0.5rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}

.cardBtn button:hover{
    background: rgba(27, 156, 252, 0.1);
}

/* a{
    text-transform: uppercase;
    color: #189CFC;
    text-decoration: none;
    font-weight: bold;
} */
.linkedContainer{
    color: white;
}

.linkedContainer :hover{
    color: white;
    text-decoration: none !important;
}






.image {
    position: relative;
    width: 300px;
    height: 163.63px;
}

.image__img {
    display: block;
    width: 60%;
    height: 62%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0px;
    width: 250px;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    word-wrap: break-word;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: #1a202c;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: .8;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    width: 55%;
    font-size: 12px;
    opacity: 1;
    margin-bottom: 2.5rem;
    margin-right: 6rem;
}