.featureImage{
    text-align: center;
    background-color: #5658dd;
    border-radius: 50%;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    line-height: 100px;
}

.feature{
    padding: 8px;
    text-align: center !important;
    
}

h6{
    font-weight: bold; 
    text-align: center;
    margin-top: 32px;
    font-size: 35px;
}

.feature h3{
    margin-top: 20px;
    color: #8d98a2;
    text-align: center;
    font-size: 25px;
}