
/* *{
    color: white;
} */

.cardGrid{
    display: flex;
    flex-wrap: wrap;
}

.SignUpButton{
    margin-right: 45px;
    margin-top: 20px;
    display: flex;
    float: right;
    width: 85%;
    background-color: #5658dd;
    border-color: #5658dd;
}

.SignUpButton:focus{
    background-color: #3f42d9;
    border-color: #3f42d9;
}

.SignUpButton:hover{
    background-color: #3f42d9;
    border-color: #3f42d9;
}

.SignUpButton:active{
    background-color: #3f42d9 !important;
    border-color: #3f42d9 !important;
}

.SignUpButton:visited{
    background-color: #3f42d9 !important;
    border-color: #3f42d9 !important;
}

.LoginButton{
    margin-right: 70px;
    margin-top: 20px;
    display: flex;
    float: right;
    width: 75%;
    background-color: #5658dd;
    border-color: #5658dd;
}

.LoginButton:focus{
    background-color: #3f42d9;
    border-color: #3f42d9;
}

.LoginButton:hover{
    background-color: #3f42d9;
    border-color: #3f42d9;
}

.LoginButton:active{
    background-color: #3f42d9 !important;
    border-color: #3f42d9 !important;
}

.LoginButton:visited{
    background-color: #3f42d9 !important;
    border-color: #3f42d9 !important;
}

.SignUpButton h5{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 25px;
}

.LoginButton h5{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 30px;
}

.maintextbody p{
    text-align: center;
    font-size: 55px;
    margin-top: 90px;
    font-weight: 900;
}

.maintextbody2 p{
    color: #8d98a2;
    text-align: center;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

/* .addServer h2{
    display: inline;
    padding-left: 15px;
}
.addServer{
    margin-left: 10px;
    margin-right: 10px;
} */
.navBar{
    padding: 10px;
    background-color: #171923;
}

.navBar h1{
    padding-left: 12px;
    text-transform: capitalize;
    font-size: 40px;
}

.col{
    height: 100px;
}

.gridcontainer{
    background: rgba(0,0,0,0);
    margin-top: 120px;
    width: 70%;
    margin-bottom: 250px;
}

.frontpageimage {
    width: 65%;
    height: 70%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
}

.homePage{
    height: 100%;
    background-color: #171923;
    padding-bottom: 10px;
}