@media all and (min-width: 480px) {
    .Login {
      padding: 40px 0;
      padding-bottom: 110px;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 280px;
      height: 400px;
      padding: 20px;
      border : 2px solid #5658dd;
      border-radius: 7px;
      background-color: #2d3748;
    }
  }

  .loginbutton1{
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .form-control:not(active){
    background-color: #3b4453;
    border-color: #5658dd;
    color: white;
 }

 .form-control:focus{
    background-color: #3b4453;
    border-color: #5658dd;
    box-shadow:1px 1px 1px 1px #5658dd;
    color: white;
 }

.alert{
  text-align: center;
}
.para{
  font-size: 20px;
  text-align: center;
}
.link{
  color: #5658dd;
  text-transform: capitalize;
}

a:hover {
   color:#5658dd;
   text-transform: capitalize;
}

.Login h1{
  font-size: 35px;
}
