
*{
    color: white;
}

.cardGrid{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -234px;
}

.addServerButton{
    margin-right: 25px;
    margin-top: 15px;
    display: flex;
    float: right;
}

h5{
    margin-top: 5px;
}

.addServer h2{
    display: inline;
    padding-left: 15px;
}
.addServer{
    margin-left: 10px;
    margin-right: 10px;
}
.navBar{
    padding: 10px;
    background-color: #171923;
}

.navBar h1{
    padding-left: 12px;
    text-transform: capitalize;
}


.d-flex{
    margin-left: 700px;
}
.serverPage{
    font-family: "Lato";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.greeting{
    text-transform: capitalize;
}

.serverLink{
    color: white !important;
    margin: 0 40px 0 40px;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
}

.selectedLink{
    color: white !important;
    padding: 10px 20px 10px 20px;
    margin: 0 40px 0 40px;
    border-radius: 15px;
    background-color: #1A202C;
    border-color: #157347 !important;
    border-width: 1 px;
    border-style: double;
    transform: scale(1.25);
    transition: 0.1s;
    animation: forwards;
}

.selector{
    float: right;
    padding-right: 20px;
}

.d-flex{
    margin-left: 0px;
    min-width: 180px;
}

.selector .form-label{
    margin-left: 10px !important;
}

.selector h3{
    padding-right: 10px;
}

/* .serverinfoFooter{
    height: 150px;
} */